﻿@model LAB_01.Models.AddCd


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Cd Form</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    
    <div class="panel panel-success">
        <div class="panel-heading text-center">
            <h4>Add a CD</h4>
        </div>

        <div class="panel-body">
            <form class="p-a-1" asp-action="AddCdForm" method="post">
                <div asp-validation-summary="All"></div>

                <div class="form-group">
                    <p>
                        <label asp-for="Bank">Bank:</label>
                        <select class="form-control" asp-for="Bank">
                            <option value="">Choose a Bank</option>
                            <option value="Altra FCU">Altra FCU</option>
                            <option value="Synchrony Bank">Synchrony Bank</option>
                            <option value="BMO Harris">BMO Harris</option>
                        </select>
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        <label asp-for="Term">Term (Months):</label>
                        <select class="form-control" asp-for="Term">
                            <option value="">Choose a Term</option>
                            <option value="12">12</option>
                            <option value="24">24</option>
                            <option value="36">36</option>
                            <option value="48">48</option>
                            <option value="60">60</option>
                        </select>
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        <label asp-for="Rate">Rate(%):</label>
                        <input class="form-control" asp-for="Rate" />
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        <label asp-for="DepositAmount">Deposit Amount:</label>
                        <input class="form-control" asp-for="DepositAmount" />
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        <label asp-for="PurchaseDate">Purchase Date:</label>
                        <input class="form-control" asp-for="PurchaseDate" asp-format="{0:MM/dd/yyyy}"/>
                    </p>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Add CD</button>
                </div>





            </form>
        </div>
    </div>


</body>
</html>
