﻿@model IEnumerable<AddCd>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
        <h1>My CD Portfolio</h1>
    </div>
    <div>
        <a asp-action="AddCdForm" class="text-left">Add a CD</a>
    </div>
    <div class="text-left">
        <div>
            @if (Model.Any())
            {
                <table class="table table-sm table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Bank</th>
                            <th>Term(Months)</th>
                            <th>Rate</th>
                            <th>Purchase Date</th>
                            <th>Maturity Date</th>
                            <th>Deposit Amount</th>
                            <th>Value At Maturity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (AddCd c in Model)
                        {
                            <tr>
                                <td>@c.Bank</td>
                                <td>@c.Term</td>
                                <td>@c.Rate?.ToString("n2")</td>
                                <td>@c.PurchaseDate?.ToString("MM/dd/yyyy")</td>
                                <td>@c.MaturityDate?.ToString("MM/dd/yyyy")</td>
                                <td>@c.DepositAmount?.ToString("c2")</td>
                                <td>@c.MaturityAmount?.ToString("c2")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h2>No CDs currently in the portfolio </h2>
            }

        </div>
    </div>
</body>
</html>