﻿@model IEnumerable<Employee>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <p class="alert alert-info text-center">EMPLOYEES</p>
    <table class="table table-striped table-dark">
        <tr>
            <th>Employee Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Title</th>
            <th>Title Description</th>
            <th>Hire Date</th>
            <th>Termination Date</th>


        </tr>
        @foreach (Employee e in Model)
        {
            <tr>
                <td>@e.EmployeeId</td>
                <td>@e.FirstName</td>
                <td>@e.LastName</td>
                <td>@e.Gender</td>
                <td>@e.Title.TitleName</td>
                <td>@e.Title.TitleDescription</td>
                <td>@e.HireDate.ToShortDateString()</td>
                @if(e.TerminationDate != null)
                {
                <td>@e.TerminationDate.Value.ToShortDateString()</td>
                }
                else
                {
                <td>N/A</td>
                }







                @*<td>@e.TitleName</td>
                    <td>@(t.Pages ?? 0)</td>
                    <td>@(t.Price != null ? ($"{t.Price:C2}") : "$0.00")</td>
                    <td>@(t.Sales ?? 0)</td>
                    <td>@t.Publisher.PublisherName</td>*@
            </tr>
        }
    </table>

</body>
</html>
