﻿@model Employee


@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Edit Employee";
}

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="EmployeeId" />
    <input type="hidden" asp-for="TerminationDate" />
    @if (Model.TitleId != 0)
    {
        <input type="hidden" asp-for="TitleId" />
    }
    else
    {
        <input type="hidden" asp-for="TitleId" value="21" />

    }



    <div class="form-group">
        <label asp-for="FirstName"></label>
        <div><span asp-validation-for="FirstName" class="text-danger"></span></div>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <div><span asp-validation-for="LastName" class="text-danger"></span></div>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Gender"></label>
        <div><span asp-validation-for="Gender" class="text-danger"></span></div>
        <select class="form-control" asp-for="Gender">
            <option value="">Choose an Option</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
    </div>
    @if (Model.HireDate.ToString() != "1/1/0001 12:00:00 AM")
    {
        <div class="form-group">
            <label asp-for="HireDate"></label>
            <div><span asp-validation-for="HireDate" class="text-danger"></span></div>
            <input asp-for="HireDate" class="form-control" />
        </div>
    }
    else
    {
        <div class="form-group">
            <label asp-for="HireDate"></label>
            <div><span asp-validation-for="HireDate" class="text-danger"></span></div>
            <input asp-for="HireDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T')" />
        </div>

    }
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-default">Cancel</a>
    </div>

</form>
