﻿@model IEnumerable<Employee>


@{
    ViewBag.Title = "All Current Employees";
    Layout = "_AdminLayout";
}

<table class="table table-striped table-dark">
    <tr>
        <th>Employee Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Title</th>
        <th>Title Description</th>
        <th>Hire Date</th>
        <th class="text-center">Actions</th>


    </tr>
    @foreach (Employee e in Model)
    {
        if (e.TerminationDate == null)
        {
            <tr>
                <td>@e.EmployeeId</td>
                <td>@e.FirstName</td>
                <td>@e.LastName</td>
                <td>@e.Gender</td>
                <td>@e.Title.TitleName</td>
                <td>@e.Title.TitleDescription</td>
                <td>@e.HireDate.ToShortDateString()</td>

                @if (!e.DepartmentManagers.Any())
                {
                    <td class="text-center">
                        <form asp-action="Delete" method="post">
                            <a asp-action="Edit" class="btn btn-sm btn-warning"
                               asp-route-employeeId="@e.EmployeeId">
                                Edit
                            </a>
                            <input type="hidden" name="EmployeeID" value="@e.EmployeeId" />
                            <button type="submit" class="btn btn-sm btn-danger">
                                Delete
                            </button>
                        </form>
                    </td>
                }
                else
                {
                    <td class="text-center">Not available to change.</td>
                }






            </tr>
        }

    }
</table>

<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Add Employee</a>
</div>
