﻿@model IEnumerable<Title>
@{
    ViewData["Title"] = "List";
}
<!DOCTYPE html>
<html>
<head>
    <title>Titles</title>
</head>
<body>
    <h1>Titles</h1>
    <table>
        <tr>
            <td>Title Name</td>
            <td>Pages</td>
            <td>Price</td>
            <td>Sales</td>
            <td>Publisher</td>
        </tr>
        @foreach (Title t in Model)
        {
        <tr>
            <td>@t.TitleName</td>
            <td>@(t.Pages  ?? 0)</td>
            <td>@(t.Price  != null ? ($"{t.Price:C2}") : "$0.00")</td>
            <td>@(t.Sales ?? 0)</td>
            <td>@t.Publisher.PublisherName</td>
        </tr>
        }
    </table>
</body>
</html>

