﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
        <h3>We are going to have a party!</h3>
        <h4>And you are invited</h4>
        <a asp-action="RsvpForm" class="btn btn-primary">RSVP NOW</a>
    </div>
</body>
</html>
