﻿@model GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="text-center">
    <p>
        <h1>Thanks, @Model.Name</h1>
        @if (Model.WillAttend == true)
        {
            @:It's great that you're coming...
        }
        else
        { 
            @:Sorry to hear you won't make it...
        }
    </p>

    <p>Click <a class="nav-link" asp-action="ListResponses">here</a> to see who is coming</p>
</body>
</html>
