﻿@model IEnumerable<string>

<a class="btn btn-block btn-default"
   asp-action="List"
   asp-controller="Department"
   asp-route-department="">
    Home
</a>

<a class="btn btn-block btn-default"
   asp-action="List"
   asp-controller="Employee"
   asp-route-department="">
    Employee Roster
</a>

<br />
<br />
<br />

<p class="alert alert-info text-center">Filter By Department</p>
@foreach (string cat in Model)
{
    <a class="btn btn-block
   @(cat == ViewBag.SelectedDepartment ? "btn-primary" : "btn-default")"
       asp-controller="Department" asp-action="List"
       asp-route-department="@cat" asp-route-pageNo="1">
        @cat
    </a>
}