﻿@model Review

    <div class="">
        @if (Model.Lines.Count() > 0)
        { 
            <small class="navbar-text">
                <b>Employees Ready For Review:</b>
                @Model.Lines.Count()
            </small>

        }
        <a class="btn btn-sm btn-default navbar-btn"
           asp-controller="Review" asp-action="Index"
           asp-route-returnURL="@ViewContext.HttpContext.Request.PathAndQuery()">
            <i class="fa fa-address-card" aria-hidden="true"></i>

        </a>

    </div>