h3 {
    font-size: 18pt;
    font-family: sans-serif;
}

table, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;

}

p {
    font-family: sans-serif;
    font-size: 10pt;
    color: darkgreen;
}