﻿@model Department

<div class="well">
    <p class="alert alert-info text-center">@Model.DepartmentName.ToUpper()</p>
    <ul class="list-unstyled">
        <li>
            @foreach (DepartmentManager dm in Model.DepartmentManagers)
            {
                if (dm.ToDate == null)
                {
                    <span class="list-group-item"><strong>Current Manager: </strong>@dm.Employee.FirstName  @dm.Employee.LastName </span>
                }

            }
        </li>
        <li>
            <br />
            <br />
            <span class="alert alert-info text-center">CURRENT EMPLOYEES:</span>


            <ul class="list-unstyled">
                @foreach (DepartmentEmployee de in Model.DepartmentEmployees)
                {
                    if (de.Employee.TerminationDate == null)
                    {
                        <li>
                            <form id="@de.EmployeeId" asp-action="AddEmployee"
                                  asp-controller="Review" method="post">
                                <input type="hidden" asp-for="@de.EmployeeId" name="employeeId" />
                                <input type="hidden" name="returnURL"
                                       value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                                <span class="lead">
                                    <button type="submit" class="btn btn-success btn-sm pull-right">
                                        Add to Review List
                                    </button>
                                </span>
                            </form>
                        </li>
                        <li>
                            <h3>@de.Employee.FirstName @de.Employee.LastName</h3>
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Employee Id:</strong> @de.EmployeeId</li>
                                <li class="list-group-item"><strong>Employee Title:</strong> @de.Employee.Title.TitleName</li>
                                <li class="list-group-item"><strong>Gender:</strong> @de.Employee.Gender</li>
                                <li class="list-group-item"><strong>Hire Date:</strong> @de.Employee.HireDate.ToShortDateString()</li>
                            </ul>
                        </li>


                    }

                }
            </ul>



            @foreach (DepartmentEmployee de in Model.DepartmentEmployees)
            {
                if (de.Employee.TerminationDate != null)
                {
                    <br />
                    <br />
                    <span class="alert alert-info text-center">PAST EMPLOYEES:</span>
                    <ul class="list-unstyled">
                        <li>
                            <h3>@de.Employee.FirstName @de.Employee.LastName</h3>
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Employee Id:</strong> @de.EmployeeId</li>
                                <li class="list-group-item"><strong>Employee Title:</strong> @de.Employee.Title.TitleName</li>
                                <li class="list-group-item"><strong>Gender:</strong> @de.Employee.Gender</li>
                                <li class="list-group-item"><strong>Hire Date:</strong> @de.Employee.HireDate.ToShortDateString()</li>
                                <li class="list-group-item"><strong>Termination Date:</strong> @de.Employee.TerminationDate.Value.ToShortDateString()</li>

                            </ul>
                        </li>
                    </ul>
                }

            }

        </li>



    </ul>
</div>