﻿@model ReviewIndexViewModel

<h2>Employees Selected For Review</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Employee ID:</th>
            <th>Employee Name:</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Review.Lines)
        { 
        <tr>
            <td class="text-center">@line.Employee.EmployeeId</td>
            <td class="text-center">@line.Employee.FirstName @line.Employee.LastName</td>
            <td>
                <form asp-action="RemoveEmployee" method="post">
                    <input type="hidden" name="EmployeeId"
                           value="@line.Employee.EmployeeId"/>
                    <input type="hidden" name="returnUrl"
                           value="@Model.ReturnUrl"/>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Remove
                    </button>
                </form>
            </td>
        </tr>

        }
    </tbody>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Go Back To Employees</a>
    <a class="btn btn-primary" asp-action="Submit" asp-controller="Submission">
        Submit For Review(s)
    </a>

</div>