﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body class="panel panel-default">
    <div class="panel-heading">
         <h4>@ViewBag.Title
        <a class="btn btn-sm btn-primary pull-right" 
           asp-action="Logout"
           asp-controller="Account">
            Logout
        </a>
        </h4>

    </div>
    <div class="panel-body">
        @if(TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @RenderBody()
    </div>
    
    
</body>
</html>