﻿.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

body {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}
