﻿@model IEnumerable<Order>

@{
    ViewBag.Title = "Orders";
    Layout = "_AdminLayout";
}


@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Zip</th>
            <th colspan="2">Details</th>
            <th></th>
        </tr>
        @foreach (Order o in Model)
        {
            <tr>
                <td>@o.Name</td>
                <td>@o.Zip</td>
                <td>Product</td>
                <td>Quantity</td>
                <td>
                    <form asp-action="MarkShipped" method="post">
                        <input type="hidden" asp-for="@o.OrderId" name="orderId"/>
                        <button type="submit" class="btn btn-sm btn-danger">Ship</button>
                    </form>
                </td>
            </tr>
            @foreach (CartLine cl in o.Lines)
            {
                <tr>
                    <td colspan="2"></td>
                    <td>@cl.Product.Name</td>
                    <td>@cl.Quantity</td>
                    <td></td>
                </tr>
            }
        }

    </table>
}

else
{
    <div>No Unshipped Orders</div>
}