﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <script src="~/lib/jQuery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
</head>
<body class="panel panel-default">
    <div class="panel-heading">
        <h4>
            @ViewBag.Title
            <a class="btn btn-sm btn-primary pull-right"
               asp-action="Logout" asp-controller="Account">Log Out</a>
        </h4>
    </div>
    <div class="row panel">
        <div id="categories" class="col-xs-3">
            <a class="btn btn-block btn-default"
               asp-action="List"
               asp-controller="Department"
               asp-route-department="">
                Home
            </a>

            <a class="btn btn-block btn-default"
               asp-action="List"
               asp-controller="Employee"
               asp-route-department="">
                Employee Roster
            </a>

            <a class="btn btn-block btn-default"
               asp-action="List"
               asp-controller="Submission"
               asp-route-department="">
                Submission List
            </a>

            <a class="btn btn-block btn-default"
               asp-action="Index"
               asp-controller="Admin"
               asp-route-department="">
                Administration
            </a>

        </div>
        <div class="col-xs-8">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }
            @RenderBody()
        </div>


    </div>
    


</body>
</html>