﻿<!DOCTYPE html>
<html>
<head>
    <title>Acme Departments</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand">Acme Departments</a>
        <div class="pull-right">
            @await  Component.InvokeAsync("ReviewSummary")
        </div>
    </div>

    <div class="row panel">
        <div id="categories" class="col-xs-3">
            @await Component.InvokeAsync("NavigationMenu")
            
        </div>
        <div class="col-xs-8">
            @RenderBody()
        </div>


    </div>


</body>
</html>