﻿@model IEnumerable<string>

<a class="btn btn-block btn-default"
   asp-controller="Product" asp-action="List"
   asp-route-category =" ">
    Home</a>

@foreach (string cat in Model)
{
<a class="btn btn-block 
   @(cat == ViewBag.SelectedCategory ? "btn-primary" : "btn-default")"
   asp-controller="Product" asp-action="List"
   asp-route-category="@cat" asp-route-pageNo="1">
    @cat
</a> 
}