﻿@model Submission


<h2>Submit for Review</h2>
<p>Please fill out the form below to complete the submission. </p>
<div asp-validation-summary="All" class="text-danger">

</div>
<div class="well-lg">
    <form asp-action="Submit" method="post">
        <h3>Submission Information:</h3>
        <div class="form-group">
            <label>Your Name:</label><input asp-for="Name" class="form-control" />
        </div>

        <div class="form-group">
            <label>Due Date:</label><input asp-for="DueDate" class="form-control" type="date" value="@DateTime.Now" />
        </div>

        <div class="form-group">
            <label>Comment:</label><input asp-for="Comment" class="form-control" />
        </div>

        <div class="checkbox">
            <label>
                <input asp-for="Urgent" /> Urgent?
            </label>
        </div>
        <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Submit Reviews"/>
        </div>
    </form>
</div>
