﻿@model IEnumerable<Submission>

    
@{ 
    ViewBag.Title = "Submissions";
    Layout = "_AdminLayout";
}

@if (Model.Count() > 0)
{
<table class="table table-bordered table-striped">
    <tr>
        <th>Name:</th>
        <th>Due Date:</th>
        <th colspan="2">Details</th>
        <th></th>
    </tr>

    @foreach (Submission s in Model)
    {
        <tr>
            <td>@s.Name</td>
            <td>@s.DueDate.ToShortDateString()</td>
            <th colspan="2">Employee</th>
            <td>
                <form asp-action="MarkCompleted" method="post">
                    <input type="hidden" name="submissionId" value="@s.SubmissionID" />
                    <button type="submit" class="btn btn-sm btn-danger">
                        Mark As Complete
                    </button>
                </form>
            </td>
        </tr>
        @foreach (ReviewLine line in s.Lines)
        {
            <tr>
                <td colspan="2"></td>
                <td colspan="2">@line.Employee.FirstName @line.Employee.LastName</td>
                <td></td>
            </tr>
        }
        <tr>
            <td colspan="5"></td>
        </tr>

    }

</table>
}