﻿@model IEnumerable<Author>


<!DOCTYPE html>
<html>
<head>
    <title>Authors</title>
</head>
<body>
    <h1>Authors</h1>

    @foreach (Author a in Model)
    {
        <h2>@a.FirstName @a.LastName</h2>
        <ul>
            @foreach (TitleAuthor ta in a.TitleAuthors)
            {
                <li>
                    Title: @ta.Title.TitleName
                    <ul>
                        <li>
                            Publisher: @ta.Title.Publisher.PublisherName
                        </li>
                    </ul>
                </li>


            }
        </ul>

    }
</body>
</html>

