﻿@model IEnumerable<Product>
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "All Products";
}

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th class="text-right">ID</th>
        <th>Name</th>
        <th class="text-right">Price</th>
        <th class="text-center">Actions</th>

    </tr>
    @foreach ( var item in Model)
    { 
        <tr>
            <td class="text-right">@item.ProductId</td>
            <td>@item.Name</td>
            <td class="text-right">@item.Price.ToString("c")</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning"
                       asp-route-productId="@item.ProductId">
                        Edit
                    </a>
                    <input type="hidden" name="ProductID" value="@item.ProductId"/>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }

</table>
<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Add Product</a>
</div>
