﻿@model IEnumerable<Product>

@{

    ViewBag.Title = "Online Shopping";
}
<div class="text-center">
    <h2>Online Shopping Page</h2>
    <p>Today's Discount is on all products from @ViewBag.Department</p>
</div>

<div class="row">
    @foreach (Product p in Model)
    {
        <div class="alert-success col-sm-2 rounded">
            
            <h3 class="panel-heading">@p.Name</h3>
            <ul>
                <li>Category: @p.Category</li>
                <li>Description: @p.Description</li>
                <li>
                    Price: @($"{p.Price:C2}")
                    @if (ViewBag.Department == p.Category)
                    {
                        <br />
                        @:Discount: @($"{ViewBag.Rebate:P0}")
                        <br />
                        @:Price after discount: @($"{(p.Price * (1 - @ViewBag.Rebate)):C2}")




                    }

                </li>


            </ul>


        </div>
    }
 </div>




