﻿@model EmployeeTitleViewModel


@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Edit Employee";
}

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Employee.EmployeeId" id="empId" />
    <input type="hidden" asp-for="Employee.TerminationDate" />

    @*@if (Model.Employee.TitleId != 0)
        {
            <input type="hidden" asp-for="Employee.TitleId" />
        }
        else
        {
            <input type="hidden" asp-for="Employee.TitleId" value="21" />

        }*@



    <div class="form-group">
        <label asp-for="Employee.FirstName">First Name</label>
        <div><span asp-validation-for="Employee.FirstName" class="text-danger"></span></div>
        <input asp-for="Employee.FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Employee.LastName">Last Name</label>
        <div><span asp-validation-for="Employee.LastName" class="text-danger"></span></div>
        <input asp-for="Employee.LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Employee.Gender"></label>
        <div><span asp-validation-for="Employee.Gender" class="text-danger"></span></div>
        <select class="form-control" asp-for="Employee.Gender">
            <option value="">Choose an Option</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="CurrentDepartment">Department</label>
        <div><span asp-validation-for="CurrentDepartment" class="text-danger"></span></div>
        <select class="form-control" name="deptId" asp-for="CurrentDepartment" id="DepartmentSelection" onchange="SelectedIndexChanged(this.value)">
            <option value="">Choose an Option</option>
            @foreach (Department d in Model.Departments)
            {
                if (Model.CurrentDepartment != null)
                {
                    if (d.DepartmentId == Model.CurrentDepartment.DepartmentId)
                    {
                        <option value="@d.DepartmentId" selected="selected">@d.DepartmentName</option>
                    }
                    else
                    {
                        <option value="@d.DepartmentId">@d.DepartmentName</option>
                    }
                }
                else
                {
                    <option value="@d.DepartmentId">@d.DepartmentName</option>
                }



            }

        </select>
    </div>
    <div class="form-group">
        <label asp-for="Employee.TitleId">Title</label>
        <div><span asp-validation-for="Employee.TitleId" class="text-danger"></span></div>
        <select class="form-control" asp-for="Employee.TitleId" id="titleDropdown">
            <option value="">Choose an Option</option>
            @foreach (Title t in Model.Titles)
            {
                if (Model.CurrentDepartment != null)
                {
                    if (t.DepartmentId == Model.CurrentDepartment.DepartmentId)
                    {
                        <option value="@t.TitleId">@t.TitleName</option>
                    }
                }
                else
                {

                    
                }





            }

        </select>
    </div>
    @if (Model.Employee.HireDate.ToString() != "1/1/0001 12:00:00 AM")
    {
        <div class="form-group">
            <label asp-for="Employee.HireDate">Hire Date</label>
            <div><span asp-validation-for="Employee.HireDate" class="text-danger"></span></div>
            <input asp-for="Employee.HireDate" class="form-control" />
        </div>
    }
    else
    {
        <div class="form-group">
            <label asp-for="Employee.HireDate">Hire Date</label>
            <div><span asp-validation-for="Employee.HireDate" class="text-danger"></span></div>
            <input asp-for="Employee.HireDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T')" />
        </div>

    }
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-default">Cancel</a>
    </div>

</form>

<script>
    function SelectedIndexChanged(_deptId) {
        //Place holder for markup in drop down
        var procemessage = "<option value=''> Please wait...</option>";
        //replace html of drop down using document.getelementById('titleDropdown')
        $("#titleDropdown").html(procemessage).show();
        //Url im going to call
        var url = "/Admin/FillTitles/";
        //Start ajax request
        $.ajax({
            //set url
            url: url,
            //parameters i want to send
            data: { deptId: _deptId },
            // no cache
            cache: false,
            // request type, in this case its a GET request
            type: "GET",
            //If the request is succesful
            success: function (data) {
                //log out the data in console to look at
                console.log(data);
                //create first option
                var markup = "<option value=''>Select Title</option>";
                //loop through data
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].titleId + ">" + data[x].titleName + "</option>";
                }
                //populate the options
                $("#titleDropdown").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }

</script>

