﻿<!DOCTYPE html>
<html>
<head>
    <title>Acme Departments</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand">Acme Departments</a>
    </div>

    <div class="row panel">
        <div id="categories" class="col-xs-3">
            @*@await Component.InvokeAsync("NavigationMenu");*@
            PUT SOMETHING HERE
        </div>
        <div class="col-xs-8">
            @RenderBody()
        </div>


    </div>


</body>
</html>