﻿@model IEnumerable<Product>

@{
    //Layout = "_BasicLayout";
    ViewBag.Title = "Product Name";

}
@foreach (Product p in Model)
{
    <div data-productid="@p.ProductId" data-stocklevel="@ViewBag.StockLevel">
        <p>Product Name: @p.Name</p>
        <p>Price: @($"{p.Price:C2}")</p>
        <p>
            Stock Level:
            @if (ViewBag.StockLevel == 0)
            {
                @:Out of Stock
            }
            else if (ViewBag.StockLevel > 0 && ViewBag.StockLevel <= 3)
            {
                <b>Low Stock (@ViewBag.StockLevel)</b>

            }
            else
            {
                @: @ViewBag.StockLevel in stock.
            }
        </p>
    </div>
}




